<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<!--
    About the application

    @author: Vasu V, K. Rathsman
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/namesTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <ui:define name="content">
        <h:form id="About">

            <h:panelGrid columns="2">

                <ui:include src="/WEB-INF/includes/aboutItem.xhtml">
                    <ui:param name="key" value="title" />
                    <ui:param name="label" value ="Application:" />
                </ui:include>

                <ui:include src="/WEB-INF/includes/aboutItem.xhtml">
                    <ui:param name="key" value="artifactId" />
                    <ui:param name="label" value ="Artifact ID:" />
                </ui:include>

                <ui:include src="/WEB-INF/includes/aboutItem.xhtml">
                    <ui:param name="key" value="groupId" />
                    <ui:param name="label" value ="Group ID:" />
                </ui:include>

                <ui:include src="/WEB-INF/includes/aboutItem.xhtml">
                    <ui:param name="key" value="version" />
                    <ui:param name="label" value ="Version:" />
                </ui:include>
            </h:panelGrid>
            <p:button href="#{applicationInfo.get('contact')} ?Subject = #{applicationInfo.get('title')}" value="Contact" icon="fa fa-aw fa-envelope"/>
                      
            <p:separator/>
            <h:outputText value="#{applicationInfo.get('acknowledgement')}"/>

        </h:form>
    </ui:define>
</ui:composition>




