<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="resources/css/themeESS.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">

            function resizePanel() {
// 			$('#indexDiv').css({
// 				"height" : window.innerHeight - menusHeight
// 			});
// 			$('#apiManualDiv').css({
// 				"height" : window.innerHeight - menusHeight
// 			});
                var menusHeight = $('#Header').outerHeight(true) + $('#menu').outerHeight(true) + $('#loginPanel').outerHeight(true);
                var panelHeight = window.innerHeight - menusHeight - 26;
                this.setTreeTableScrollHeight('#ReqSubForm\\:namePartsTree', panelHeight);
//			this.setDataTableScrollHeight('#ManageNameForm\\:devicesTree',panelHeight);
            }

            function setTreeTableScrollHeight(treeTableId, panelHeight) {
                var headerHeight = $(treeTableId + ' .ui-treetable-scrollable-header').outerHeight(true);
                var footerHeight = $(treeTableId + ' .ui-treetable-scrollable-footer').outerHeight(true);
                var scrollHeight = panelHeight - headerHeight - footerHeight;
                var scrollBody = $(treeTableId + ' .ui-treetable-scrollable-body');
                scrollBody.height(scrollHeight);
            }

            function setDataTableScrollHeight(dataTableId, panelHeight) {
                var headerHeight = $(dataTableId + ' .ui-datatable-scrollable-header').outerHeight(true);
                var footerHeight = $(dataTableId + ' .ui-datatable-scrollable-footer').outerHeight(true);
                var scrollHeight = panelHeight - headerHeight - footerHeight;
                var scrollBody = $(dataTableId + ' .ui-datatable-scrollable-body');
                scrollBody.height(scrollHeight);
            }

            $(window).resize(function () {
                resizePanel();
            });

            $(window).ready(function () {
                resizePanel();
            });

//          Bug workaround  https://github.com/primefaces/primefaces/issues/2448
            $.extend($.ui.keyCode, {
                NUMPAD_ENTER: 108
            });

            function refresh() {
                PF('deviceTable').filter();
                resizePanel();
            }
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }

            function reload() {
                location.reload();
            }

//		function displayMnemonicLengthWarning() {
//			if ($('#WizardNameForm\\:icode').val().length > 4) {
//				$('#WizardNameForm\\:mnemonicLengthWarning').css({
//					"display" : "block"
//				});
//			} else {
//				$('#WizardNameForm\\:mnemonicLengthWarning').css({
//					"display" : "none"
//				});
//			}
//		}

            function displayIndexLengthWarningOnAdd() {
                if ($('#addDeviceNameForm\\:instanceIndex').val().length > 3) {
                    $('#addDeviceName\\:indexLengthWarning').css({
                        "display": "block"
                    });
                } else {
                    $('#addDeviceName\\:indexLengthWarning').css({
                        "display": "none"
                    });
                }
            }

            function displayIndexLengthWarningOnMod() {
                if ($('#modDeviceNameForm\\:instanceIndex').val().length > 3) {
                    $('#modDeviceName\\:indexLengthWarning').css({
                        "display": "block"
                    });
                } else {
                    $('#modDeviceName\\:indexLengthWarning').css({
                        "display": "none"
                    });
                }
            }

        </script>	
        <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon"/>
        <title>Naming Service</title>
    </h:head>

    <h:body>
        <p:outputPanel id="full" layout="block" >
            <h:form id="Header">
                <h:panelGroup id="panel" layout="block" > 
                    <h:outputText id ="title" value="#{applicationInfo.get('title')}"/>
                    <h:panelGroup id="left" style="float:left" layout="span">
                        <p:graphicImage id = "logo" library="images" name="logo.png" />
                    </h:panelGroup>
                    <h:panelGroup id="right" rendered="#{loginController.loggedIn}" style="float:right" layout="span">
                        <p:button  href="#{applicationInfo.get('wiki')}"  target="blank" title="#{applicationInfo.get('wiki')}" value="Wiki" icon="fa fa-aw fa-book"/>
                        <p:button  id="issues" href="#{applicationInfo.get('issues')}"  target="blank" value="Issues" icon="fa fa-aw fa-exclamation-circle" title="#{applicationInfo.get('issues')}"/>
                        <p:commandButton  id="signout" update =":full" action="#{loginController.signOut()}" oncomplete="location.reload(true)" process="@this" value="#{loginController.username}" icon="fa fa-aw fa-sign-out" title="Sign Out"/>                        
                    </h:panelGroup>
                </h:panelGroup>
                <!--                <f:facet name="left"><span><p:graphicImage id = "logo" library="images" name="logo.png" /></span><span></span></f:facet>
                                    <f:facet name="right">
                                        
                 
                                    </f:facet>
                                </p:toolbar>-->
            </h:form>

            <ui:include src="/WEB-INF/includes/menubar.xhtml" />
            <ui:include src="/WEB-INF/includes/login.xhtml"/>
            <p:outputPanel id="content" rendered="#{loginController.loggedIn}" >
                <ui:insert name="content">Content</ui:insert>
            </p:outputPanel>
        </p:outputPanel>
        <p:dialog modal="true" widgetVar="statusDialog" showHeader="false"
                  draggable="false" closable="false" resizable="false">
            <p:graphicImage value="/resources/images/ajax-loader.gif" />
        </p:dialog>
    </h:body>
</html>
