
a {
 outline:0;
}
.ui-widget {
 font-family:Arial,sans-serif;
 font-size:medium;
}
.ui-widget .ui-widget {
 font-size:small;
}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
 font-family:Arial,sans-serif;
 font-size:small;
}
.ui-widget-content {
 border:0px solid #004155;
 background:#ffffff;
 color:#004155;
 font-weight:normal;
 text-shadow:none;
}
.ui-widget-content a, .ui-widget-content label {
 color:#004155;
 text-decoration:none;
 font-weight:normal;
 text-shadow:none   
}
.ui-widget-header {
 border:1px solid #0094ca;
 background:#0094ca;
 color:#ffffff;
 font-weight:normal;
 text-shadow:none;
}
.ui-widget-header a {
 color:#004155
}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
 border:1px solid #0094ca;
 background:#0094ca;
 font-weight:normal;
 color:#ffffff;
 text-shadow:none;
 box-shadow:none;
}
.ui-state-default a,.ui-state-default label, .ui-state-default a:link,.ui-state-default a:visited {
 color:#ffffff;
 text-decoration:none;
 text-shadow:none
}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
 background:#41b9e6;
 font-weight:normal;
 color:#ffffff;
 text-shadow:none;
 box-shadow:none;
}
.ui-state-hover a,.ui-state-hover a:hover, .ui-state-hover label,.ui-state-hover label:hover {
 color:#ffffff;
 text-decoration:none;
 box-shadow:none;
}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
 background:#ffffff;
 font-weight:normal;
 color:#004155;
 text-shadow:none;
 box-shadow:none;
}
.ui-state-active, .ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited, .ui-state-active label,.ui-state-active label:link,.ui-state-active label:visited  {
 color:#004155;
 text-decoration:none;
 box-shadow:none;
}
.ui-widget :active {
 outline: #41b9e6;
}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
 background:#7de1ff;
 color:#004155;
 text-shadow:none;
 box-shadow:none;
}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
 color:#004155;
}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
 border:1px solid #c81919;
 background:#ff6e6e;
 color:#c81919
}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a {
 color:#c81919
}
.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text {
 color:#c81919
}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
 font-weight:bold
}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
 opacity:.7;
 filter:Alpha(Opacity=70);
 font-weight:normal
}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
 opacity:.35;
 filter:Alpha(Opacity=35);
 background-image:none
}
.ui-icon {
    border-radius: 0px;
    width:16px;
    height:16px;
    background-image: url("images/ui-icons_004155_256x240.png");
}
ui-icon, .ui-widget-content .ui-icon {
    background-image: url("images/ui-icons_004155_256x240.png");
}
.ui-widget-header .ui-icon, .ui-state-default .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("images/ui-icons_FFFFFF_256x240.png");
}
.ui-state-active .ui-icon, .ui-state-highlight .ui-icon {
    background-image: url("images/ui-icons_004155_256x240.png");
}
.ui-icon-carat-1-n {
 background-position:0 0
}
.ui-icon-carat-1-ne {
 background-position:-16px 0
}
.ui-icon-carat-1-e {
 background-position:-32px 0
}
.ui-icon-carat-1-se {
 background-position:-48px 0
}
.ui-icon-carat-1-s {
 background-position:-64px 0
}
.ui-icon-carat-1-sw {
 background-position:-80px 0
}
.ui-icon-carat-1-w {
 background-position:-96px 0
}
.ui-icon-carat-1-nw {
 background-position:-112px 0
}
.ui-icon-carat-2-n-s{
 background-position:-128px 0
}
.ui-icon-carat-2-e-w {
 background-position:-144px 0
}
.ui-icon-triangle-1-n {
 background-position:0 -16px
}
.ui-icon-triangle-1-ne {
 background-position:-16px -16px
}
.ui-icon-triangle-1-e {
 background-position:-32px -16px
}
.ui-icon-triangle-1-se {
 background-position:-48px -16px
}
.ui-icon-triangle-1-s {
 background-position:-64px -16px
}
.ui-icon-triangle-1-sw {
 background-position:-80px -16px
}
.ui-icon-triangle-1-w {
 background-position:-96px -16px
}
.ui-icon-triangle-1-nw {
 background-position:-112px -16px
}
.ui-icon-triangle-2-n-s {
 background-position:-128px -16px
}
.ui-icon-triangle-2-e-w {
 background-position:-144px -16px
}
.ui-icon-arrow-1-n {
 background-position:0 -32px
}
.ui-icon-arrow-1-ne {
 background-position:-16px -32px
}
.ui-icon-arrow-1-e {
 background-position:-32px -32px
}
.ui-icon-arrow-1-se {
 background-position:-48px -32px
}
.ui-icon-arrow-1-s {
 background-position:-64px -32px
}
.ui-icon-arrow-1-sw {
 background-position:-80px -32px
}
.ui-icon-arrow-1-w {
 background-position:-96px -32px
}
.ui-icon-arrow-1-nw {
 background-position:-112px -32px
}
.ui-icon-arrow-2-n-s {
 background-position:-128px -32px
}
.ui-icon-arrow-2-ne-sw {
 background-position:-144px -32px
}
.ui-icon-arrow-2-e-w {
 background-position:-160px -32px
}
.ui-icon-arrow-2-se-nw {
 background-position:-176px -32px
}
.ui-icon-arrowstop-1-n {
 background-position:-192px -32px
}
.ui-icon-arrowstop-1-e {
 background-position:-208px -32px
}
.ui-icon-arrowstop-1-s {
 background-position:-224px -32px
}
.ui-icon-arrowstop-1-w {
 background-position:-240px -32px
}
.ui-icon-arrowthick-1-n {
 background-position:0 -48px
}
.ui-icon-arrowthick-1-ne {
 background-position:-16px -48px
}
.ui-icon-arrowthick-1-e {
 background-position:-32px -48px
}
.ui-icon-arrowthick-1-se {
 background-position:-48px -48px
}
.ui-icon-arrowthick-1-s {
 background-position:-64px -48px
}
.ui-icon-arrowthick-1-sw {
 background-position:-80px -48px
}
.ui-icon-arrowthick-1-w {
 background-position:-96px -48px
}
.ui-icon-arrowthick-1-nw {
 background-position:-112px -48px
}
.ui-icon-arrowthick-2-n-s {
 background-position:-128px -48px
}
.ui-icon-arrowthick-2-ne-sw {
 background-position:-144px -48px
}
.ui-icon-arrowthick-2-e-w {
 background-position:-160px -48px
}
.ui-icon-arrowthick-2-se-nw {
 background-position:-176px -48px
}
.ui-icon-arrowthickstop-1-n {
 background-position:-192px -48px
}
.ui-icon-arrowthickstop-1-e {
 background-position:-208px -48px
}
.ui-icon-arrowthickstop-1-s {
 background-position:-224px -48px
}
.ui-icon-arrowthickstop-1-w {
 background-position:-240px -48px
}
.ui-icon-arrowreturnthick-1-w {
 background-position:0 -64px
}
.ui-icon-arrowreturnthick-1-n {
 background-position:-16px -64px
}
.ui-icon-arrowreturnthick-1-e {
 background-position:-32px -64px
}
.ui-icon-arrowreturnthick-1-s {
 background-position:-48px -64px
}
.ui-icon-arrowreturn-1-w {
 background-position:-64px -64px
}
.ui-icon-arrowreturn-1-n {
 background-position:-80px -64px
}
.ui-icon-arrowreturn-1-e {
 background-position:-96px -64px
}
.ui-icon-arrowreturn-1-s {
 background-position:-112px -64px
}
.ui-icon-arrowrefresh-1-w {
 background-position:-128px -64px
}
.ui-icon-arrowrefresh-1-n {
 background-position:-144px -64px
}
.ui-icon-arrowrefresh-1-e {
 background-position:-160px -64px
}
.ui-icon-arrowrefresh-1-s {
 background-position:-176px -64px
}
.ui-icon-arrow-4 {
 background-position:0 -80px
}
.ui-icon-arrow-4-diag {
 background-position:-16px -80px
}
.ui-icon-extlink {
 background-position:-32px -80px
}
.ui-icon-newwin {
 background-position:-48px -80px
}
.ui-icon-refresh {
 background-position:-64px -80px
}
.ui-icon-shuffle {
 background-position:-80px -80px
}
.ui-icon-transfer-e-w {
 background-position:-96px -80px
}
.ui-icon-transferthick-e-w {
 background-position:-112px -80px
}
.ui-icon-folder-collapsed {
 background-position:0 -96px
}
.ui-icon-folder-open {
 background-position:-16px -96px
}
.ui-icon-document {
 background-position:-32px -96px
}
.ui-icon-document-b {
 background-position:-48px -96px
}
.ui-icon-note {
 background-position:-64px -96px
}
.ui-icon-mail-closed {
 background-position:-80px -96px
}
.ui-icon-mail-open {
 background-position:-96px -96px
}
.ui-icon-suitcase {
 background-position:-112px -96px
}
.ui-icon-comment {
 background-position:-128px -96px
}
.ui-icon-person {
 background-position:-144px -96px
}
.ui-icon-print {
 background-position:-160px -96px
}
.ui-icon-trash {
 background-position:-176px -96px
}
.ui-icon-locked {
 background-position:-192px -96px
}
.ui-icon-unlocked {
 background-position:-208px -96px
}
.ui-icon-bookmark {
 background-position:-224px -96px
}
.ui-icon-tag {
 background-position:-240px -96px
}
.ui-icon-home {
 background-position:0 -112px
}
.ui-icon-flag {
 background-position:-16px -112px
}
.ui-icon-calendar {
 background-position:-32px -112px
}
.ui-icon-cart {
 background-position:-48px -112px
}
.ui-icon-pencil {
 background-position:-64px -112px
}
.ui-icon-clock {
 background-position:-80px -112px
}
.ui-icon-disk {
 background-position:-96px -112px
}
.ui-icon-calculator {
 background-position:-112px -112px
}
.ui-icon-zoomin {
 background-position:-128px -112px
}
.ui-icon-zoomout {
 background-position:-144px -112px
}
.ui-icon-search {
 background-position:-160px -112px
}
.ui-icon-wrench {
 background-position:-176px -112px
}
.ui-icon-gear {
 background-position:-192px -112px
}
.ui-icon-heart {
 background-position:-208px -112px
}
.ui-icon-star {
 background-position:-224px -112px
}
.ui-icon-link {
 background-position:-240px -112px
}
.ui-icon-cancel {
 background-position:0 -128px
}
.ui-icon-plus {
 background-position:-16px -128px
}
.ui-icon-plusthick {
 background-position:-32px -128px
}
.ui-icon-minus {
 background-position:-48px -128px
}
.ui-icon-minusthick {
 background-position:-64px -128px
}
.ui-icon-close {
 background-position:-80px -128px
}
.ui-icon-closethick {
 background-position:-96px -128px
}
.ui-icon-key {
 background-position:-112px -128px
}
.ui-icon-lightbulb {
 background-position:-128px -128px
}
.ui-icon-scissors {
 background-position:-144px -128px
}
.ui-icon-clipboard {
 background-position:-160px -128px
}
.ui-icon-copy {
 background-position:-176px -128px
}
.ui-icon-contact {
 background-position:-192px -128px
}
.ui-icon-image {
 background-position:-208px -128px
}
.ui-icon-video {
 background-position:-224px -128px
}
.ui-icon-script {
 background-position:-240px -128px
}
.ui-icon-alert {
 background-position:0 -144px
}
.ui-icon-info {
 background-position:-16px -144px
}
.ui-icon-notice {
 background-position:-32px -144px
}
.ui-icon-help {
 background-position:-48px -144px
}
.ui-icon-check {
 background-position:-64px -144px
}
.ui-icon-bullet {
 background-position:-80px -144px
}
.ui-icon-radio-off {
 background-position:-96px -144px
}
.ui-icon-radio-on {
 background-position:-112px -144px
}
.ui-icon-pin-w {
 background-position:-128px -144px
}
.ui-icon-pin-s {
 background-position:-144px -144px
}
.ui-icon-play {
 background-position:0 -160px
}
.ui-icon-pause {
 background-position:-16px -160px
}
.ui-icon-seek-next {
 background-position:-32px -160px
}
.ui-icon-seek-prev {
 background-position:-48px -160px
}
.ui-icon-seek-end {
 background-position:-64px -160px
}
.ui-icon-seek-start {
 background-position:-80px -160px
}
.ui-icon-seek-first {
 background-position:-80px -160px
}
.ui-icon-stop {
 background-position:-96px -160px
}
.ui-icon-eject {
 background-position:-112px -160px
}
.ui-icon-volume-off {
 background-position:-128px -160px
}
.ui-icon-volume-on {
 background-position:-144px -160px
}
.ui-icon-power {
 background-position:0 -176px
}
.ui-icon-signal-diag {
 background-position:-16px -176px
}
.ui-icon-signal {
 background-position:-32px -176px
}
.ui-icon-battery-0 {
 background-position:-48px -176px
}
.ui-icon-battery-1 {
 background-position:-64px -176px
}
.ui-icon-battery-2 {
 background-position:-80px -176px
}
.ui-icon-battery-3 {
 background-position:-96px -176px
}
.ui-icon-circle-plus {
 background-position:0 -192px
}
.ui-icon-circle-minus {
 background-position:-16px -192px
}
.ui-icon-circle-close {
 background-position:-32px -192px
}
.ui-icon-circle-triangle-e {
 background-position:-48px -192px
}
.ui-icon-circle-triangle-s {
 background-position:-64px -192px
}
.ui-icon-circle-triangle-w {
 background-position:-80px -192px
}
.ui-icon-circle-triangle-n {
 background-position:-96px -192px
}
.ui-icon-circle-arrow-e {
 background-position:-112px -192px
}
.ui-icon-circle-arrow-s {
 background-position:-128px -192px
}
.ui-icon-circle-arrow-w {
 background-position:-144px -192px
}
.ui-icon-circle-arrow-n {
 background-position:-160px -192px
}
.ui-icon-circle-zoomin {
 background-position:-176px -192px
}
.ui-icon-circle-zoomout {
 background-position:-192px -192px
}
.ui-icon-circle-check {
 background-position:-208px -192px
}
.ui-icon-circlesmall-plus {
 background-position:0 -208px
}
.ui-icon-circlesmall-minus {
 background-position:-16px -208px
}
.ui-icon-circlesmall-close {
 background-position:-32px -208px
}
.ui-icon-squaresmall-plus {
 background-position:-48px -208px
}
.ui-icon-squaresmall-minus {
 background-position:-64px -208px
}
.ui-icon-squaresmall-close {
 background-position:-80px -208px
}
.ui-icon-grip-dotted-vertical {
 background-position:0 -224px
}
.ui-icon-grip-dotted-horizontal {
 background-position:-16px -224px
}
.ui-icon-grip-solid-vertical {
 background-position:-32px -224px
}
.ui-icon-grip-solid-horizontal {
 background-position:-48px -224px
}
.ui-icon-gripsmall-diagonal-se {
 background-position:-64px -224px
}
.ui-icon-grip-diagonal-se {
 background-position:-80px -224px
}
.ui-corner-tl,
.ui-corner-tr ,
.ui-corner-bl ,
.ui-corner-br ,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left ,
.ui-corner-all,
.ui-round-all {
 border-radius:0px;
}
.ui-widget-overlay {
 background:#2d5972;
 opacity:.30;
 filter:Alpha(Opacity=30)
}
.ui-widget-shadow {
 margin:-8px 0 0 -8px;
 padding:8px;
 background:#004155 ;
 opacity:.30;
 filter:Alpha(Opacity=30);
 -moz-border-radius:8px;
 -webkit-border-radius:8px;
 border-radius:8px
}
.ui-accordion .ui-accordion-header {
 margin:0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 border-radius:0
}
.ui-accordion .ui-accordion-content {
 margin-bottom:0
}
.ui-dialog .ui-dialog-titlebar {
 border-top:0;
 border-right:0;
 border-left:none;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 border-radius:0
}
.ui-slider {
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
 background:#cbcbcb;
 -moz-box-shadow:inset 0 2px 2px #969696;
 -webkit-box-shadow:inset 0 2px 2px #969696;
 box-shadow:inset 0 2px 2px #969696
}
.ui-slider .ui-slider-handle {
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px
}
.ui-slider .ui-slider-range {
 background:#a3cae0;
 -moz-box-shadow:inset 0 2px 2px #7d9aab;
 -webkit-box-shadow:inset 0 2px 2px #7d9aab;
 box-shadow:inset 0 2px 2px #7d9aab
}
.ui-slider-vertical {
 background:#cbcbcb;
 -moz-box-shadow:inset 0 2px 2px #969696;
 -webkit-box-shadow:inset 0 2px 2px #969696;
 box-shadow:inset 0 2px 2px #969696
}
.ui-slider-vertical .ui-slider-range {
 background:#a3cae0;
 -moz-box-shadow:inset 2px 0 2px #7d9aab;
 -webkit-box-shadow:inset 2px 0 2px #7d9aab;
 box-shadow:inset 2px 0 2px #7d9aab
}
.ui-slider .ui-slider-handle span {
 height:16px!important;
 width:16px!important;
 float:none!important;
 margin:0 auto!important
}
.ui-slider .ui-slider-handle {
 background:#0094ca;
}
.ui-tabs .ui-tabs-nav li {
 border:1px solid #0094ca
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
 border:1px solid #0094ca
}
.ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected {
 border-bottom:0
}
.ui-tabs .ui-tabs-panel {
 border-width:0;
 padding:1em 1.4em;
 background:0
}
.ui-tabs .ui-tabs-nav {
 background:#e3e3e3;
 background:#e3e3e3 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
 background:#e3e3e3 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
 background:#e3e3e3 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
 -moz-border-radius:0;
 -webkit-border-radius:0;
 border-radius:0
}
.ui-tabs .ui-tabs-nav .ui-tabs-selected {
 background:#fff;
 border-bottom:0;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
 cursor:pointer
}
.ui-datepicker table {
 table-layout:fixed
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
 background:0;
 border:0;
 color:#5f83b9
}
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
 color:#1c4257;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight,.ui-datepicker .ui-datepicker-current-day .ui-state-default {
 background:#5f83b9;
 color:#fff!important;
 font-weight:normal;
 text-shadow:0 1px 1px #234386;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
.ui-datepicker .ui-datepicker-header {
 background:#e3e3e3;
 background:#e3e3e3 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
 background:#e3e3e3 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
 background:#e3e3e3 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
 border-right:0;
 border-left:none;
 border-top:0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 border-radius:0
}
.ui-datepicker .ui-datepicker-next-hover,.ui-datepicker .ui-datepicker-prev-hover {
 background:0;
 border:solid 1px transparent;
 -moz-box-shadow:none
}
.ui-progressbar {
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px
}
.ui-progressbar .ui-widget-header {
 background-color:#0094ca;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,endColorstr=#00FFFFFF);
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px
}
.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield {
 background:#ffffff;
 -moz-box-shadow:inset 0 1px 1px #969696;
 -webkit-box-shadow:inset 0 1px 1px #969696;
 box-shadow:inset 0 1px 1px #969696;
 font-size: small;
 color:#004155;
}
.ui-inputfield.ui-state-focus,.ui-widget-content .ui-inputfield.ui-state-focus,.ui-widget-header .ui-inputfield.ui-state-focus {
 -moz-box-shadow:0 0 1px #0094ca,inset 0 1px 1px #969696;
 -webkit-box-shadow:0 0 1px #0094ca,inset 0 1px 1px #969696;
 box-shadow:0 0 1px #0094ca,inset 0 1px 1px #969696
}
.ui-menu,.ui-menu .ui-menu-child {
 background-color:#ffffff;
}
html .ui-menu .ui-menu-list {
 background:0
}
html .ui-menubar .ui-menu-child {
 background:#fff
}
html .ui-menu .ui-menuitem-link {
 border-color:#ffffff;
 filter:chroma(color=#ffffff)
}
.ui-datatable-odd {
 background:none repeat scroll 0 0 #eeeeee;
}
.aui .ui-helper-hidden {
 display:none;
}
.aui .ui-helper-reset {
 margin:0;
}
.aui .ui-widget-content .ui-widget a {
 color:#004155;
}
.aui .ui-selectonemenu .ui-widget {
 font-size:medium;
}
.aui .ui-selectonemenu-label .ui-inputfield {
 color:#ffffff;
}
.aui .ui-selectonemenu-label {
 margin-bottom:0;
}
.aui .ui-spinner .ui-corner-all {
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
}
.aui .ui-spinner .ui-inputfield {
 -moz-box-shadow:inset 0 2px 2px #969696;
 -webkit-box-shadow:inset 0 2px 2px #969696;
 box-shadow:inset 0 2px 2px #969696;
 color:#ffffff;
 margin:0;
 padding:4px;
 font-weight:normal;
}
.aui .ui-spinner .ui-spinner-input {
 vertical-align:middle;
 padding-right:20px;
}
.aui .ui-widget input {
 font-size:small;
}
.aui .ui-spinner .ui-inputfield.ui-state-focus {
 -moz-box-shadow:0 0 5px #0094ca,inset 0 2px 2px #969696;
 -webkit-box-shadow:0 0 5px #0094ca,inset 0 2px 2px #969696;
 box-shadow:0 0 5px #0094ca,inset 0 2px 2px #969696;
}
.aui .ui-tabs .ui-state-default a {
 color:#004155;
}
.aui .jcrop-holder img {
 max-width:none;
}

/*DEFAULTS
-----------------------------------*/
body{
    padding:0px;
    margin:0px;
}
h1{
    font-size: large;
}
h2{
    font-size: medium;
    color:#0094ca;
}
h3{
    font-size:medium;
    color: #00698c 
}
h4{
    font-size:small;
    color:#004155;
    font-weight: bold;
    margin-bottom:0;
}
td{
    vertical-align: middle;
}

/* COMPONENTS
-----------------------------------*/
/*Dialog*/
.ui-dialog-content .ui-widget-content{
    overflow: auto;
    max-height: 400px;
}
.ui-dialog{
    width: 800px;
}

/*Checkboxmenu*/
.ui-selectcheckboxmenu{
    margin-right: 0.1em;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border:none;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
    padding-top: 0.3em;
    padding-bottom:0.3em;
}
.ui-chkbox-box{
    border-radius:0px !important;
    size: 1em;
}
.ui-widget-header .ui-chkbox-box {
    background-color: #ffffff;
}

/* tabmenu*/
.ui-tabmenu-nav, .ui-tabmenu {
    border: none;
    background: #00698c;
    color: #ffffff;
}

/* Input */
.ui-inputfield {
    width:100%;
    box-sizing: border-box;
}
.ui-inputtextarea {
    width: 100%;
    box-sizing: border-box;
}
/*panelgrid*/
.ui-panelgrid-cell.ui-widget-header{
    background:#00698c;
    color:#ffffff;
    padding-left:0.2em;
    padding-right:0.2em;
    
}
.ui-panelgrid .ui-panelgrid-cell {
    border: 0.1em #dcdcdc solid;
    padding:0.2em;
}

/*datatable*/ 
.ui-datatable .ui-datatable-header,  .ui-datatable .ui-datatable-footer{
   overflow: auto;
}
.ui-datatable-header.ui-widget-header{
    background:#00698c;
    color:#ffffff;
    padding-left:0.2em;
    padding-right:0.2em;
}
.ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
    border: 0.1em #dcdcdc solid;
    padding:0.2em;
}

.ui-datatable thead th{
    border: 0.1em #00698c solid !important;
    padding:0.2em; 
}
.ui-column-filter{
    margin: 0.2em;
    padding:0.2em;
}

/*treetable*/
.ui-treetable .ui-treetable-header,  .ui-treetable .ui-treetable-footer{
   overflow: auto;
}
.ui-treetable-header.ui-widget-header{
    background:#00698c;
    color:#ffffff;
    padding-left:0.2em;
    padding-right:0.2em;
}
.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td, .ui-treetable tfoot th{
    border: 0.1em #dcdcdc solid;
    padding:0.2em;
}
.ui-treetable-scrollable .ui-treetable-scrollable-header{
    background: transparent;
    border: 0px none;
}
.ui-treetable-scrollable-body .ui-datatable-scrollable-body{
    overflow-y: scroll !important;
}
/* treenode */
.ui-treenode .ui-treenode-label{
    border: 0px;
    padding-top:2px;
    padding-bottom: 1px;
    font-size: 12px;
    margin:0px;
}
.ui-treenode .ui-chkbox-box{
    height:16px;
    border: 0px;
    padding:0px;
    margin:0px;
}
/* wizard */ 
.ui-wizard {
    width: 100%;
    height: 100%;
}
.ui-wizard-navbar {
     margin-bottom:0.6em;

    /*bug workaround to prevent overflow*/
}

/* SPECIAL
------------------------------------------*/
label{
    color:#004155;
    font-size:small;
}
kbd {
    font-size: small;
}
sec, .sec {
    color: #0094ca;
    font-family: monospace;
    font-size: small;
}
dev, .dev {
    color: #9bbe05;
    font-family: monospace;
    font-size: small;
}
.Approved {
    /* blank on purpose */
}
.Proposed {
    color: #466e00;
}
.Deleted {
    color: #c81919;
}
.Cancelled, .Rejected, .Archived {
    color: #969696;
}
.Pending {
    font-weight: bold;
}
.Deleted, .Cancelled, .Rejected, .Archived {
    text-decoration: line-through;
}

#content{
    margin:1em;
}
#Header\:panel {
    background:#0094ca;
    border:0px none;
    font-size:23px;
    text-align: center;
    display:block;
    color: #ffffff;
    padding:0.2em;
    margin:0;
    display:block;
}
#Header\:left{
    float:left;
    border:0px;
    margin:0;
    padding:0;
    display:block;
}
#Header\:logo {
    height:24px;
    width:auto;
}
#Header\:right{
    float:right;
    border:0px;
    margin:0;
    padding:0;
    display:block;
}
