<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <p:outputLabel for="#{key}" value="#{label}"/>
    <h:panelGroup>
        <h:outputText id="#{key}" value="#{applicationInfo.get(key)}"/>
    </h:panelGroup>

</ui:composition>