<?xml version='1.0' encoding='UTF-8' ?>

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="DeviceWizardNameForm" >
        <p:dialog 
            id="deviceWizardName" 
            widgetVar="deviceWizardName"
            modal="true" 
            dynamic="false"  
            width="800"  
            onShow="PF('wiz').loadStep('rootParentTab',true)"  
            >
            <p:ajax event="close" listener="#{deviceTableController.update()}" update="@form"  />

            <f:facet name="header"> 
                <h:outputText  id="headerId" value="#{deviceTableController.wizard.header}"/>
            </f:facet>

            <p:wizard id="wizardId" widgetVar="wiz" 
                      flowListener="#{deviceTableController.wizard.onFlowProcess}"
                      showStepStatus="false"
                      rendered = "#{deviceTableController.wizard != null}" >

                <p:tab 
                    id="rootParentTab" 
                    title="Area" 
                    >
                    <h3> <h:outputText value="1. Which part of the facility does the device provide service to?" /></h3>
                    <p:messages showDetail="true" autoUpdate="true"/>
                    <p:separator />
                    <p:tree value="#{deviceTableController.wizard.rootTree}"
                            selectionMode="single" 
                            var="rootParentView"
                            dynamic="true" >
                        <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                        <p:ajax event="collapse" listener="#{treeNodeManager.onNodeCollapse}" />
                        <p:ajax event="select" update=":DeviceWizardNameForm:headerId" listener="#{deviceTableController.wizard.onSelectRootParent}" />
                        <p:ajax event="unselect" update=":DeviceWizardNameForm:headerId" listener="#{deviceTableController.wizard.onUnselectRootParent}" />						

                        <ui:param name="row" value = "#{treeNodeManager.rowData(rootParentView)}" />
                        <ui:param name="name" value="#{deviceTableController.wizard.conventionName(rootParentView)}" />
                        <p:treeNode>
                            <h:outputText value="#{name} " styleClass="sec" rendered="#{name != null}" />
                            <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                                <ui:param name="columnData" value="#{row.combined}" />
                                <ui:param name="columnDataTitle" value="#{row.description}" />
                            </ui:include>													
                        </p:treeNode>
                    </p:tree>
                    <p:separator />
                    <p>Expand nodes by clicking the triangles and select the area. Name elements are described and managed in the area structure.</p>
                </p:tab>
                <p:tab id="otherParentTab" title="Device">
                    <h3> <h:outputText value="2. What kind of service does the device provide?" /></h3>
                    <p:messages showDetail="true" autoUpdate="true"/>
                    <p:separator />
                    <p:tree value="#{deviceTableController.wizard.otherTree}"
                            selectionMode="single" 
                            var="otherParentView"
                            dynamic="true">
                        <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                        <p:ajax event="collapse" listener="#{treeNodeManager.onNodeCollapse}" />
                        <p:ajax event="select" update=":DeviceWizardNameForm:headerId" listener="#{deviceTableController.wizard.onSelectOtherParent}" />
                        <p:ajax event="unselect" update=":DeviceWizardNameForm:headerId" listener="#{deviceTableController.wizard.onUnselectOtherParent}" />						
                        <ui:param name="row" value = "#{treeNodeManager.rowData(otherParentView)}" />
                        <ui:param name="name" value="#{deviceTableController.wizard.conventionName(otherParentView)}" />
                        <p:treeNode>
                            <h:outputText value="#{name} " styleClass="dev" rendered="#{name != null}" />
                            <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                                <ui:param name="columnData" value="#{row.combined}" />
                                <ui:param name="columnDataTitle" value="#{row.description}" />
                            </ui:include>													
                        </p:treeNode>
                    </p:tree>
                    <p:separator />
                    <p>Expand nodes by clicking the triangles and select. Name elements are described and managed in the device
                        structure.</p>
                </p:tab>
                <p:tab id="nameElementTab" title="Instance" >
                    <h3>3. Enter instance index:</h3>
                    <p:inputText id="InstanceIndex"
                                 value="#{deviceTableController.wizard.mnemonic}"
                                 >
                        <!--<f:validator validatorId="instanceIndexValidator" />-->
                    </p:inputText>
                    <div id="indexLengthWarning"
                         class="ui-message ui-message-warn ui-widget ui-corner-all"
                         style="display: none">
                        <span class="ui-message-warn-icon"></span> <span
                            class="ui-message-warn-detail">Instance index should
                            preferably be less than 4 characters although 6 is allowed.</span>
                    </div>

                    <div>
                        <h3>4. Enter description:</h3>						
                        <p:inputTextarea 
                            id="description" 
                            rows="5" 
                            cols="60" 
                            counter="counter"
                            maxlength="254" 
                            required="true"
                            value="#{deviceTableController.wizard.singleNameOperation.nameElement.description}"
                            counterTemplate="{0} characters remaining." 
                            autoResize="false" />
                        <br />
                        <h:outputText id="counter" /> 					
                    </div>
                    <h4>The instance index is validated against the following
                        rules:</h4>
                    <ol>
                        <li>The instance index is alphanumeric. I.e., only upper and
                            lower case alphanumeric characters (a-z, A-Z, 0-9) are allowed.</li>
                        <li>The instance instance index ranges between 0 and 6
                            characters.</li>
                        <li>Within the selected area (<sec>Sec-Sub</sec>) and for the
                            selected device definition (<dev>Dis-Dev</dev>) the instance
                            index is unique, irrespective of
                            <ul>
                                <li>Letter case</li>
                                <li>Letters I, l and number 1</li>
                                <li>Letter O and number 0</li>
                                <li>Leading zeros, i.e., number 0 immediately following a
                                    non-numerical character</li>
                            </ul>
                        </li>
                    </ol>
                    <h4>Guidelines:</h4>
                    <ol>
                        <li>Names should be short, meaningful and easy to read.
                            Abbreviate and use CamelCase.</li>
                        <li>Names should be easy to pronounce and memorise.</li>
                    </ol>
                    <p:separator />
                    <p:messages showDetail="true" autoUpdate="true" />

                </p:tab>
                <p:tab id="finishTab" title="Finish" >
                    <h3>5. Review and Submit:</h3>
                    <h:panelGrid id="gridId" columns="2" width="100%">

                        <h:outputLabel for="name" value="Name:" />
                        <h:panelGroup id="name" >
                            <kbd>
                                <h:outputText value="#{deviceTableController.wizard.singleNameOperation.nameElement.fullName}" />
                            </kbd>
                        </h:panelGroup>

                        <h:outputLabel for="reviewDescription" value="Description:" />
                        <h:panelGroup id ="reviewDescription" >
                            <h:outputText  value="#{deviceTableController.wizard.singleNameOperation.nameElement.description}"/>
                        </h:panelGroup>
                    </h:panelGrid>
                    <p:separator />
                    <p:messages showDetail="true" autoUpdate="true" />

                    <div>
                        <p:commandButton 
                            id="Submit" 
                            value="Submit"
                            process="@this"
                            style="float:right"
                            update=":ManageNameForm:devicesTree :ManageNameForm:devicesTree:ncReqMenu @form :menu:messages"
                            onclick="start()"
                            action="#{deviceTableController.onSubmit()}"
                            oncomplete="stop(); PF('deviceTable').filter()"								
                            />
                        <p:commandButton 
                            value="Cancel"
                            action="#{deviceTableController.update()}"
                            style="float:right"
                            onclick="PF(deviceWizardName).hide()"/>
                    </div>
                </p:tab>
            </p:wizard>
        </p:dialog>
    </h:form>
</ui:composition>