<?xml version='1.0' encoding='UTF-8' ?>

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="FilterDeviceNameForm">
        <p:dialog id="#{widgetId}" widgetVar="#{widgetId}" modal="true"
                  dynamic="false" header="Set global filter" width="800"
                  onShow="PF('wiz').loadStep('areaTab',true)">
            <p:wizard id="wizardId" widgetVar="wiz" showStepStatus="false">

                <p:tab id="areaTab" title="Area">
                    <h3>
                        <h:outputText
                            value="1. Which areas of the facility is relevant to you?" />
                    </h3>
                    <p>The customized filter settings will be saved for the
                        remainder of this session.</p>

                    <p:separator />
                    <p:commandButton 
                        value="Select All" 
                        style="z-index:100"
                        action="#{deviceTableController.filterWizard.onAreaStructureSelectAll}"
                        update="areatree" />
                    <p:commandButton 
                        value="Unselect All" 
                        style="z-index:100"
                        action="#{deviceTableController.filterWizard.onAreaStructureUnselectAll}"
                        update="areatree" />
                    <p:tree 
                        id ="areatree"
                        value="#{deviceTableController.filterWizard.areaStructure}"
                        selectionMode="checkbox" 
                        var="areaView"
                        dynamic="true">
                        <p:ajax event="select" listener="#{treeNodeManager.onFilterNode}" />
                        <p:ajax event="unselect"
                                listener="#{treeNodeManager.onUnfilterNode}" />
                        <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                        <p:ajax event="collapse"
                                listener="#{treeNodeManager.onNodeCollapse}" />

                        <ui:param name="row" value="#{treeNodeManager.rowData(areaView)}" />
                        <p:treeNode>
                            <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                                <ui:param name="columnData" value="#{row.combined}" />
                                <ui:param name="columnDataTitle" value="#{row.description}" />
                            </ui:include>
                        </p:treeNode>
                    </p:tree>
                    <p:separator />
                    <p:messages showDetail="true" autoUpdate="true" />
                    <div align="right">
                        <p:commandButton value="Ok" 
                                         process="@this"
                                         update=":ManageNameForm :ManageNameForm:devicesTree:ncReqMenu @form"
                                         style="float:right" 
                                         action="#{deviceTableController.update()}"
                                         onclick="start()" 
                                         oncomplete="stop(); PF('deviceTable').filter()" />
                    </div>


                </p:tab>
                <p:tab id="deviceTab" title="Device">
                    <h3>
                        <h:outputText value="2. What kind of devices are relevant to you?" />
                    </h3>
                    <p>The customized filter settings will be saved for the
                        remainder of this session.</p>
                    <p:separator />
                    <p:commandButton 
                        value="Select All" 
                        style="z-index:100"
                        action="#{deviceTableController.filterWizard.onDeviceStructureSelectAll}"
                        update="devicetree" />
                    <p:commandButton 
                        value="Unselect All" 
                        style="z-index:100"
                        action="#{deviceTableController.filterWizard.onDeviceStructureUnselectAll}"
                        update="devicetree" />
                    <p:tree
                        id="devicetree"
                        value="#{deviceTableController.filterWizard.deviceStructure}"
                        selectionMode="checkbox" var="deviceView"
                        dynamic="true">
                        <p:ajax event="select" listener="#{treeNodeManager.onFilterNode}" />
                        <p:ajax event="unselect"
                                listener="#{treeNodeManager.onUnfilterNode}" />
                        <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                        <p:ajax event="collapse"
                                listener="#{treeNodeManager.onNodeCollapse}" />

                        <ui:param name="row"
                                  value="#{treeNodeManager.rowData(deviceView)}" />
                        <p:treeNode>
                            <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                                <ui:param name="columnData" value="#{row.combined}" />
                                <ui:param name="columnDataTitle" value="#{row.description}" />
                            </ui:include>
                        </p:treeNode>
                    </p:tree>
                    <p:separator />
                    <p:messages showDetail="true" autoUpdate="true" />
                    <div align="right">
                        <p:commandButton 
                            value="Ok" 
                            process="@this"
                            update=":ManageNameForm :ManageNameForm:devicesTree:ncReqMenu @form"
                            style="float:right" 
                            action="#{deviceTableController.update()}"
                            onclick="start()" 
                            oncomplete="stop(); PF('deviceTable').filter()" />
                    </div>
                </p:tab>
            </p:wizard>
        </p:dialog>
    </h:form>
</ui:composition>