<?xml version='1.0' encoding='UTF-8' ?>


<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <p:dialog id="nameDetail" widgetVar="nameDetail" dynamic="true"
              maximizable="true" minimizable="true" modal="true" header="History" width="1000">
        <p:dataTable id="historyTable" var="historyRow" value="#{historyHandler}"
                     paginator="false" resizableColumns="true" scrollable="true"
                     scrollHeight="300">
            <p:column id="fullName" headerText="Full Name" style="width:15%">
                <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                    <ui:param name="columnData" value="#{historyRow.fullName}" />
                    <ui:param name="columnDataTitle" value="#{historyRow.fullName}" />
                </ui:include>
            </p:column>
            <p:column id="mnemonic" headerText="Mnemonic" style="width:10%">
                <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                    <ui:param name="columnData" value="#{historyRow.mnemonic}" />
                    <ui:param name="columnDataTitle" value="#{historyRow.mnemonic}" />
                </ui:include>
            </p:column>
            <p:column id="description" headerText="Description" style="width:25%">
                <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                    <ui:param name="columnData" value="#{historyRow.description}" />
                    <ui:param name="columnDataTitle" value="#{historyRow.description}" />
                </ui:include>
            </p:column>
            <p:column id="status" headerText="Status" style="width:10%">
                <h:outputText value="#{historyRow.getStatus()}" title="#{historyRow.getStatus()}" styleClass="#{historyRow.getStatusStyle()}" />
            </p:column>
            <p:column id="date" headerText="Date" sortBy="#{historyRow.userAction.date}"
                      style="width:15%">
                <h:outputText value="#{historyRow.userAction.date}" title="#{historyRow.userAction.date}">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                </h:outputText>
            </p:column>
            <p:column id="reqBy" headerText="User"
                      sortBy="#{historyRow.userAction.user}" style="width:15%">
                <h:outputText value="#{historyRow.userAction.user}" title="#{historyRow.userAction.user}"/>
            </p:column>
            <p:column id="message" headerText="Message"
                      sortBy="#{historyRow.userAction.message}" style="width:25%">
                <h:outputText value="#{historyRow.userAction.message}" title="#{historyRow.userAction.message}" />
            </p:column>
        </p:dataTable>
    </p:dialog>
</ui:composition>