<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="loginForm">
        <!-- 	<p:growl globalOnly="true" id="msgs" showDetail="true" -->
        <!-- 					sticky="false" life="10000" /> -->
        <p:dialog id="loginDialog" widgetVar="loginDialog" header="Sign In" modal="true" visible="#{!loginController.loggedIn}" closable="false" >
            <h:panelGrid id="grid" columns="2">
                <p:outputLabel for="userid" value="Username:" />
                <h:panelGroup>
                    <p:inputText id="userid" value="#{loginController.inputUsername}"
                                 label="Username"/>
                    <p:watermark for="userid" value="Enter username" />
                    <p:message for="userid" />
                </h:panelGroup>
                <p:outputLabel for="passwd" value="Password:" />
                <h:panelGroup>
                    <p:password id="passwd" value="#{loginController.inputPassword}"
                                label="Password" />
                    <p:watermark for="passwd" value="Enter password" />
                    <p:message for="passwd" />
                </h:panelGroup>
                <f:facet name="footer">
                    <p:separator />					
                    <p:commandButton id="submit" value="Sign In" update=":full :loginForm"
                                     action="#{loginController.signIn()}" style="float: right"/>
                    <p:defaultCommand target="submit" />
                </f:facet>
            </h:panelGrid>
        </p:dialog>
    </h:form>


</ui:composition>
