<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="menu" >
        <p:growl globalOnly="true" id="messages" showDetail="true"
                 sticky="false" life="10000" />
        <p:tabMenu id="mainMenu" activeIndex="${loginController.activeIndex}" rendered="#{loginController.loggedIn}">
            <p:menuitem value="Home" icon="fa fa-aw fa-home" outcome="index.xhtml"/>
            <p:menuitem value="About" icon="fa fa-aw fa-info-circle" outcome="about.xhtml"/>
            <p:menuitem value="Device Registry" icon="fa fa-aw fa-tachometer" outcome="devices.xhtml" onclick="start()" oncomplete="stop()"/>
            <p:menuitem value="Area Structure" icon="fa fa-aw fa-sitemap" outcome="parts.xhtml?type=areaStructure" onclick="start()" oncomplete="stop()"/>			
            <p:menuitem value="Device Structure" icon="fa fa-aw fa-sitemap" outcome="parts.xhtml?type=deviceStructure" onclick="start()" oncomplete="stop()"/>
            <p:menuitem value="Help" icon="fa fa-aw fa-question-circle" outcome="help.xhtml"/>
        </p:tabMenu>
    </h:form>

</ui:composition>
