<?xml version='1.0' encoding='UTF-8' ?>

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <h:form id="WizardNameForm">
        <p:dialog id="wizardName" widgetVar="wizardName" modal="true"
                  width="800" onShow="PF('partWiz').loadStep('namePartTab',true)">
            <p:ajax event="close" listener="#{namePartsController.update()}" update="@form"  />

            <f:facet name="header">
                <h:outputText id="headerId"
                              value="#{namePartsController.wizard.header}" />
            </f:facet>

            <p:wizard id="wizardId" widgetVar="partWiz"
                      flowListener="#{namePartsController.wizard.onFlowProcess}"
                      showStepStatus="false"
                      rendered="#{namePartsController.wizard != null}">


                <p:tab id="namePartTab" title="namePart"
                       rendered="#{namePartsController.wizard.isTabRendered(0)}">
                    <h3>1. Expand (by clicking the triangle) and select namePart:</h3>
                    <p:separator />
                    <p:tree value="#{namePartsController.wizard.operationRoot}"
                            selectionMode="single" var="nameView" dynamic="true">
                        <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                        <p:ajax event="collapse"
                                listener="#{treeNodeManager.onNodeCollapse}" />
                        <p:ajax event="select" update=":WizardNameForm:headerId"
                                listener="#{namePartsController.wizard.onSelectNameViewNode}" />
                        <p:ajax event="unselect" update=":WizardNameForm:headerId"
                                listener="#{namePartsController.wizard.onUnselectNameViewNode}" />

                        <ui:param name="row" value="#{treeNodeManager.rowData(nameView)}" />
                        <p:treeNode>
                            <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                                <ui:param name="columnData" value="#{row.combined}" />
                                <ui:param name="columnDataTitle" value="#{row.description}" />
                            </ui:include>
                        </p:treeNode>

                    </p:tree>
                    <p:separator />
                    <p:messages showDetail="true" autoUpdate="true" />
                </p:tab>

                <p:tab id="parentTab" title="Parent"
                       rendered="#{namePartsController.wizard.isTabRendered(1)}">
                    <h3>1. Expand (by clicking the triangle) and select parent:</h3>
                    <p:separator />
                    <p:tree value="#{namePartsController.wizard.operationRoot}"
                            selectionMode="single" var="parentView" dynamic="true">

                        <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                        <p:ajax event="collapse"
                                listener="#{treeNodeManager.onNodeCollapse}" />
                        <p:ajax event="select" update=":WizardNameForm:headerId"
                                listener="#{namePartsController.wizard.onSelectParentViewNode}" />
                        <p:ajax event="unselect" update=":WizardNameForm:headerId"
                                listener="#{namePartsController.wizard.onUnselectParentViewNode}" />

                        <ui:param name="row"
                                  value="#{treeNodeManager.rowData(parentView)}" />
                        <p:treeNode>
                            <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                                <ui:param name="columnData" value="#{row.combined}" />
                                <ui:param name="columnDataTitle" value="#{row.description}" />
                            </ui:include>
                        </p:treeNode>

                    </p:tree>
                    <p:separator />
                    <p:messages showDetail="true" autoUpdate="true" />
                </p:tab>

                <p:tab id="descriptionTab" >
                    <div >
                        <h:panelGrid id="gridId" columns="2" width="100%">

                            <p:outputLabel for="site" value="Operation:"
                                           rendered="#{namePartsController.wizard.siteChangeAllowed}" />
                            <h:panelGroup
                                rendered="${namePartsController.wizard.siteChangeAllowed}">
                                <p:selectOneRadio id="site"
                                                  value="#{namePartsController.wizard.siteForSuperSection}"
                                                  plain="true">
                                    <f:selectItem itemLabel=" On-site " itemValue="ONSITE" />
                                    <f:selectItem itemLabel=" Off-site (test stand) "
                                                  itemValue="OFFSITE" />
                                    <p:ajax process="@this" update="outputlabel icode @this" />
                                </p:selectOneRadio>
                            </h:panelGroup>

                            <p:outputLabel for="idesc" value="Full Name:" />
                            <h:panelGroup>
                                <p:inputText id="idesc"
                                             value="#{namePartsController.wizard.singleNameOperation.nameElement.fullName}"
                                             required="true" style="width:100%" />
                                <p:watermark for="idesc"
                                             value="#{namePartsController.wizard.nameElementDefinition.fullName}" />
                            </h:panelGroup>

                            <p:outputLabel id="outputlabel" for="icode"
                                           rendered="#{namePartsController.wizard.mnemonicRequired || namePartsController.wizard.siteChangeAllowed}"
                                           value="Mnemonic:" />
                            <h:panelGroup id="mnemonicPanel"
                                          rendered="#{namePartsController.wizard.isMnemonicRequired()|| namePartsController.wizard.siteChangeAllowed}">
                                <p:inputText id="icode"
                                             value="#{namePartsController.wizard.singleNameOperation.nameElement.mnemonic}"
                                             disabled="#{!namePartsController.wizard.isMnemonicRequired()}"
                                             required="#{namePartsController.wizard.isMnemonicRequired()}">
                                    <!--<f:validator validatorId="custom.mnemonicValidator" />-->
                                </p:inputText>
                                <p:watermark for="icode"
                                             value="#{namePartsController.wizard.nameElementDefinition.mnemonic}" />
                            </h:panelGroup>

                            <p:outputLabel for="desc" value="Description:" />
                            <h:panelGroup>
                                <p:inputTextarea
                                    id="desc" 
                                    rows="5" 
                                    cols="60" 
                                    counter="dcounter"
                                    maxlength="254"
                                    required="true"
                                    value="#{namePartsController.wizard.singleNameOperation.nameElement.description}"
                                    counterTemplate="{0} characters remaining." 
                                    autoResize="false" />
                                <br />
                                <h:outputText id="dcounter" />
                                <p:watermark for="desc"
                                             value="#{namePartsController.wizard.nameElementDefinition.description}" />

                            </h:panelGroup>
                        </h:panelGrid>

                        <p:separator />
                        <p:messages showDetail="true" autoUpdate="true" />
                        <!--                        <div id="mnemonicLengthWarning"
                                                     class="ui-message ui-message-warn ui-widget ui-corner-all"
                                                     style="display: none">
                                                    <span class="ui-message-warn-icon"></span> <span
                                                        class="ui-message-warn-detail"><b>Mnemonic: Warning:</b>
                                                        Value should range between 2 and 4 characters, although 6
                                                        characters are allowed.</span>
                                                </div>-->
                    </div>
                </p:tab>

                <p:tab id="finishTab" title="Finish">
                    <div>
                        <h3>Review and Submit Request</h3>
                        <h:panelGrid>
                            <h:panelGroup>
                                <h:outputText
                                    value="Full Name: #{namePartsController.wizard.singleNameOperation.nameElement.fullName}" />
                            </h:panelGroup>

                            <h:panelGroup
                                rendered="#{namePartsController.wizard.isMnemonicRequired()}">
                                <h:outputText
                                    value="Mnemonic: #{namePartsController.wizard.singleNameOperation.nameElement.mnemonic}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:outputText
                                    value="Description: #{namePartsController.wizard.singleNameOperation.nameElement.description}" />
                            </h:panelGroup>
                        </h:panelGrid>


                        <h:panelGrid width="100%">
                            <h:panelGroup>
                                <p:outputLabel for="icomm" value="Commit Message:" />

                                <p:inputTextarea id="icomm" rows="5" cols="60"
                                                 counter="icounter" maxlength="254"
                                                 value="#{namePartsController.wizard.singleNameOperation.message}"
                                                 counterTemplate="{0} characters remaining." autoResize="false" />
                                <br />
                                <h:outputText id="icounter" />
                            </h:panelGroup>
                            <h:panelGroup styleClass="ui-message-warn ui-corner-all"
                                          layout="block"
                                          rendered="#{namePartsController.wizard.singleNameOperation.affectedDevices.size() > 0}" >
                                <span class="ui-message-warn-icon" />
                                <h:panelGroup class="ui-message-warn-detail">
                                    <h:outputText
                                        rendered="#{namePartsController.wizard.singleNameOperation.affectedDevices.size() > 1}"
                                        value="WARNING!: There are #{namePartsController.wizard.singleNameOperation.affectedDevices.size()} registered device names that are affected by this action!" />
                                    <h:outputText
                                        rendered="#{namePartsController.wizard.singleNameOperation.affectedDevices.size() == 1}"
                                        value="WARNING!: There is one registered device name that is affected by this action!" />
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGrid>

                    </div>
                    <div align="right">
                        <p:commandButton id="Submit" value="Submit" 
                                         process="@form"
                                         style="float:right"
                                         update=":ReqSubForm:namePartsTree:reqMenu :ReqSubForm:namePartsTree @form :menu:messages" 
                                         action="#{namePartsController.onSubmit()}"                                         
                                         onclick="start()" 							
                                         oncomplete=" stop()" />
                        <p:commandButton value="Cancel" style="float: right"
                                         action="#{namePartsController.update()}"
                                         onclick="PF(wizardName).hide()" />
                    </div>
                </p:tab>
            </p:wizard>
        </p:dialog>
    </h:form>
</ui:composition>